version: "3.8"

services:
  workflows-service:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: workflows-service
    command: npm run start:dev -- workflows-service
    environment:
      POSTGRES_HOST: workflows-db
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: workflows
      RABBITMQ_URL: amqp://rabbitmq:5672
    deploy: 
      replicas: 3 #this instructs docker compose to start 3 instances of the "workflows-service" container
    depends_on:
      - workflows-db
      - nats
      - rabbitmq

  workflows-db:
    image: postgres:13.2-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: workflows

  virtual-facility:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: virtual-facility
    command: npm run start:dev -- virtual-facility
    ports:
      - "3000:3000"
    environment:
      POSTGRES_HOST: virtual-facility-db
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: virtual_facility
      RABBITMQ_URL: amqp://rabbitmq:5672
    
    depends_on:
      - virtual-facility-db
      - workflows-service
      - rabbitmq

  virtual-facility-db:
    image: postgres:13.2-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: virtual_facility
  
  nats:
    image: nats:2.2.2-alpine
    container_name: nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["-js"]
    restart: always
  
  alarms-service:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: alarms-service
    command: npm run start:dev -- alarms-service
    environment:
      NATS_URL: nats://nats:4222
      RABBITMQ_URL: amqp://rabbitmq:5672
    depends_on:
      - nats
      - rabbitmq
  alarms-generator:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: alarms-generator
    command: npm run start:dev -- alarms-generator
    environment:
      NATS_URL: nats://nats:4222
    depends_on:
      - nats
  
  alarm-classifier-service:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: alarm-classifier-service
    command: npm run start:dev -- alarm-classifier-service
    environment:
      NATS_URL: nats://nats:4222
    depends_on:
      - nats
  
  notifications-service:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        APP_NAME: notifications-service
    command: npm run start:dev -- notifications-service
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
    depends_on:
      - rabbitmq
  rabbitmq:
    image: rabbitmq:3-management

